

header{
 border: 3px blue solid;
 height:20% ;
}

nav{
    border: 3px black solid;
    height: 60% ;
}

footer{
    border: 3px yellow solid;
    height: 20% ;
}

li.menu {
    list-style-type: none;
    display:inline-block;
    padding: 3px;
    margin: 5px;
    width: 1%;

}

div.logo {
    display: inline;
    width: 30%;

}

ul{
    display: inline;
    width: 20%;
    padding-left: 30%;
}