ul{
    list-style-type:upper-roman;
}
ol{
    list-style-image:url("img/caritafeliz.png") ;
}

dt.personalizado{
    background-color: yellow;
    border-color: red;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    width: 30%;
    height: 50px;;
}