ul{
    list-style-type:upper-roman;
}
ol{
    list-style-image:url("img/caritafeliz.png") ;
}

dt.personalizado{
    background-color: yellow;
    border-color: red;
    border-width: 2px;
    border-style: solid
}